/* Landing page*/

#navbar,
footer {
    background-color: #aad4b3;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*Showcase on Landing page*/
#content {
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0% {
        left: -1000px;
    }

    100% {
        left: 0px;
    }
}

/* Food Item Review */
.bi-trash-fill {
    color: red;
}
