{% extends "base.html" %}
{% load static %}
{% block content %}

<!--500 error page-->
<div class="container py-5">
    <div class="row pb-5">
        <div class="col-md-8 mt-3 offset-md-2 pb-5">
            <h1>500 (server error)</h1>
            <div class="py-4"><p class="lead"><span class="fw-bold"> Aw snap </span>something went wrong!</div>
                Please click on the link below to go back to the homepage
                <div class="py-4 m-1"><a  href="{% url 'index' %}">Link</a></div>
            </p>
        </div>
    </div>
</div>
{%endblock%}