{% extends "base.html" %}

<!--Confirmation content-->
{% block content %}
<div class="container p-5">
    <h1>Order Confirmation</h1>
</div>
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Order has been submitted!</h1>
            <p>You should receive a confirmation email soon.</p>
            <a href="{% url 'index' %}">Go to the homepage</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12 text-center">
            <h3 class="pb-3">Order Summary:</h3>
            {% for item in items %}
            <p>{{ item.name }} <span class="pl-3">{{ item.price }}</span></p>
            {% endfor %}
            <h3 class="pb-3">Customer Details:</h3>
            {% for detail in order_user %}
            <p class="fst-italic">{{detail}}</p>
            {% endfor %}
            <p class="fw-bold pt-4">Total Due: {{ price }}</p>
        </div>
    </div>
</div>
{% endblock %}