{% extends "base.html" %}

<!--Order page content-->
{% block content %}
<div class="p-5 container">
<h1>Order Now</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row row-cols-1 row-cols-md-3">
            {% for item in items %}
            <div class="col mb-4">
                <div class="card m-4">
                    {% if "placeholder" in item.food_image.url %}
                    <img src="https://images.pexels.com/photos/1583884/pexels-photo-1583884.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        class="card-img-top rounded">
                    {% else %}
                    <img src="{{item.featured_image.url}}" alt="Image of the food item" class="card-image-top rounded">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item }}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <p class="card-text">&euro;{{ item.price }}</p>
                        <div class="form-group form-check">
                            <label class="form-check-label"></label>
                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ item.pk }}">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="btn btn-primary mt-5">Place Order!</button>
    </form>
</div>
{% endblock %}