{% extends "base.html" %}

<!--Update Profile page content-->
{% block content %}
<div class="container p-5">
    <h1 class="text-center display-3 pb-2 pt-3">Update Profile Details</h1>
    {% load crispy_forms_tags %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6 col-md-12">
                {{ user_form | crispy }}
                {{ profile_form | crispy }}
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateModal">
            Update profile
        </button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete My Account</button>  
        <!-- Update Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update My Profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go Back to
                            Updating Profile</button>
                        <button type="submit" class="btn btn-success">Apply Update!</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- Delete Account Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure? This cannot be reversed</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No I want to go back to
                        site</button>
                    <button type="submit" class="btn btn-danger"><a class="dropdown-item" href="{% url 'delete' %}">Delete Profile</a></button>
                </div>
            </div>
        </div>
    </div>
    </form>
    </div>
    </form>
</div>
{% endblock %}
